@inject KustoService Kusto
<div id="graph-container" style="width: 100%; height: 100%;"></div>

@inject IJSRuntime JSRuntime

@code {
    private List<Node> Nodes { get; set; } = new List<Node>();
    private List<Link> Links { get; set; } = new List<Link>();

    protected override async Task OnInitializedAsync()
    {
        (Nodes, Links) = await Kusto.GetStormEventsGraphData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Nodes.Any())
        {
            await JSRuntime.InvokeVoidAsync("renderD3Graph", "graph-container", Nodes, Links, DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public void OnLabelClicked(string nodeId)
    {
        Console.WriteLine($"Node {nodeId} was clicked!");
    }
}